footer
    .content


        .copyright © 2016
            span Intertech

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/alexValidate.js")
script(src="js/jquery.bxslider.js")
script(src="bower_components/jquery-bar-rating/jquery.barrating.js")
script(src="js/scrollspy.js")

#cache
